# Spotify API Credentials
# Get these from https://developer.spotify.com/dashboard
NEXT_PUBLIC_SPOTIFY_CLIENT_ID=42dd5db55516412289ecf834c0a89fc9
SPOTIFY_CLIENT_SECRET=64f497977a8c49249378acfc423bc4bd
NEXT_PUBLIC_APP_URL=http://127.0.0.1:3000
NEXT_PUBLIC_REDIRECT_URI=http://127.0.0.1:3000/api/spotify/callback
NEXT_PUBLIC_SOCKET_URL=http://127.0.0.1:3000

# For production deployment on Vercel
# NEXT_PUBLIC_APP_URL=https://your-app.vercel.app
# NEXT_PUBLIC_REDIRECT_URI=https://your-app.vercel.app/api/spotify/callback
# NEXT_PUBLIC_SOCKET_URL=https://your-app.vercel.app
